<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-row">
      <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
      {%- if site.github_username -%}
      <a href="https://github.com/{{ site.github_username }}"><svg class="svg-icon" width="16" height="16"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> {{ site.github_username }}</a>
      {%- endif -%}
      <span>{{ site.title }}</span>
    </div>
  </div>
</footer>
<script>
document.querySelectorAll('a[href^="http"]').forEach(function(a) {
  if (!a.hostname || a.hostname === location.hostname) return;
  a.setAttribute('target', '_blank');
});
</script>
