---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="item-list">
      {%- for post in site.posts -%}
      <li class="item-entry">
        <div class="item-info">
          <div class="item-top">
            <span class="item-year">{{ post.date | date: "%Y" }}</span>
            <span class="item-date">{{ post.date | date: "%B %-d" }}</span>
          </div>
          <p class="item-title">
            <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </p>
          {%- if site.show_excerpts -%}
            <p class="item-meta">{{ post.excerpt | strip_html | truncate: 140 }}</p>
          {%- endif -%}
        </div>
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}
</div>
